<ion-header>
  <title> Cows-N-Chickens </title>
</ion-header>

<ion-content padding>

  <ion-grid>

    <!-- user info -->
    <ion-row ion-row justify-content-center align-items-center style="flex-direction: row" *ngIf="user">
    
      <ion-label> User: {{user.userName }}   </ion-label>
      <ion-label> Age: {{user.userAge }}   </ion-label>
      <ion-label> ID: {{user.userID }}   </ion-label>

    
    </ion-row>

    <!-- starting the game -->
    <ion-row ion-row justify-content-center align-items-center style="flex-direction: column" *ngIf="!gameStart">
      <ion-item class="ion-align-items-center"> <div class="title"> Choose a number between 4-8 </div> </ion-item>
      <ion-input type="number" placeholder="Enter Number" onKeyPress="if(this.value.length==1) return false;" (keydown)="onKeydown($event)" id="inputDigits">  </ion-input>
    
    </ion-row>

    <!-- the game -->
    <ion-row justify-content-center align-items-center style="flex-direction: column" *ngIf="gameStart && !gameOver">
      <ion-item class="ion-align-items-center"> <div class="title"> Guess the number! </div> </ion-item>
        
      <ion-input type="number" placeholder="Enter Number" (input)="checkLength($event)" (keydown)="onKeydown($event)" id="userInput" autofocus>  </ion-input>
      
      <ion-item *ngIf="guessedOnce" class="result">
        <div *ngIf="numCows == 0 && numChickens == 0"> too bad, try again!  </div>
        <div *ngIf="numCows != 0 || numChickens != 0">
          <img src="../../../assets/icon/Cow.png" class="small-image"> = {{ numCows }}
          <img src="../../../assets/icon/Chicken.png" class="small-image"> = {{ numChickens }}
        </div>
      </ion-item>

    </ion-row>

    <!-- finished the game -->
    <ion-row ion-row justify-content-center align-items-center style="flex-direction: column" *ngIf="gameOver">
      
      <ion-item>
        <ion-label class="title"> Congratulations! </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label> Total  <img src="../../../assets/icon/Cow.png" class="small-image"> = {{ totalCows }} </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label> Total  <img src="../../../assets/icon/Chicken.png" class="small-image"> = {{ totalChickens }} </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label> Total  Guesses = {{ totalGuesses }} </ion-label>
      </ion-item>

        <a [routerLink]="['/home']" > Back to Home </a>
      
    </ion-row>

  </ion-grid>
</ion-content>
